#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.result {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 10px;
  padding-top: 15px;
  height: 80px;
  background-color: rgb(34, 34, 34);
  width: 100%;
  font: 16px "Avenir", sans-serif;
  color: rgb(230, 230, 230);
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.buttons {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 50px;
  font-size: 27px;
  background-color: rgb(89, 89, 89);
  color: rgb(230, 230, 230);
  border: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-family: "Helvetica Neue", sans-serif;
  outline: none;
}

button:nth-last-child(-n+3) {
  border-bottom: none;
}

button:nth-child(-n+3) {
  background-color: rgb(56, 56, 56);
}

button:nth-child(4n), button:last-child {
  background-color: rgb(255, 159, 10);
  border-right: none;
}

.zero {
  width: 50%;
}


