.result {
  height: 80px;
  background-color: rgb(39, 40, 42);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.container {
  max-width: 250px;
  margin: auto;
  border-radius: 15px;
}

.buttons {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: rgb(123, 123, 123);
  color: #ffffff;
  border: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

button:nth-last-child(-n+3) {
  border-bottom: none;
}

button:nth-child(4n), button:last-child {
  background-color: rgb(243, 162, 60);
  border-right: none;
}

.zero {
  width: 50%;
}
